<ion-header>
    <ion-navbar  color="tertiary">
      <button ion-button  color="dark" outline clear (click)="onClose()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
      <ion-title>{{"RESULT"|translate}}</ion-title>
  </ion-navbar>
    <ion-title>
       <ion-label style="font-size: 1.1rem" color="ternary">{{originctry}} {{"TO"|translate}} {{name}}</ion-label>
    </ion-title>
</ion-header>

<ion-content padding class="card-backgound-page grid-basic-page" align="center" > 
    <div id="segment" *ngFor="let amount of amount">
        <ion-segment [(ngModel)]="toggle" color="tertiary">
            <ion-segment-button value="{{amount.amount}}" [(ngModel)]="amount.amount" ngDefaultControl>${{amount.amount}}</ion-segment-button>
        </ion-segment>    
        <div [ngSwitch]="amount.amount">
            <div>
                <ion-list *ngSwitchCase="amount.amount">
                    <button ion-item *ngFor="let record of amount.record" (click)="moreDetails(record)">
                        <p color="tertiary" style="font-size: 1.2rem">{{record.firm}}</p> 
                        <ion-row>
                            <ion-col col-5><ion-badge outline color="tertiary" style="font-size: 1.2rem">{{"RATE"|translate}}:{{record.ExchangeRateMargin}}</ion-badge></ion-col>
                            <ion-col col-7><ion-badge fill color="tertiary" style="font-size: 1.2rem">{{"RECEIVED"|translate}}:{{record.AmountReceived}}</ion-badge></ion-col>
                        </ion-row>                          
                    </button>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>

