<ion-header>    
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Transferrates</ion-title>
  </ion-navbar>   
</ion-header>
            
<ion-content padding>
    <div class="pane-content">
            <div id="corridor_search_refresh">
                <h2 color="tertiary" >Find and Compare Rates...</h2>
                <form 
                   class="sms-corridor-search-form" 
                   autocomplete="off"                                    
                   id="sms-corridor-search-form" 
                   accept-charset="UTF-8"> 

                    <ion-label color="tertiary">Transfer Money</ion-label>                                        

                        <div id="edit-transfer" class="form-radios">
                        <div class="form-item form-type-radio form-item-transfer">
                            <!--<ion-item style="background-color:5FBB43;">-->
                            <ion-list radio-group >
                                <ion-row>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label color="tertiary"
                                                       class="option" 
                                                       for="edit-transfer-from">From:</ion-label>
                                            <ion-radio id="edit-transfer-from" 
                                                       name="transfer" 
                                                       value="from" 
                                                       checked="checked" 
                                                       class="form-radio"></ion-radio>
                                        </ion-item>   
                                    </ion-col>
                                    <ion-col>
                                        <ion-item>
                                            <ion-label color="tertiary"
                                                       class="option" 
                                                       for="edit-transfer-to">To:</ion-label>
                                            <ion-radio id="edit-transfer-to" 
                                                       name="transfer" 
                                                       value="to" 
                                                       class="form-radio"></ion-radio>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-list>                                            
                        </div>
                        </div>
                    
                        <!--Sending Country-->

                        <div id="field_source_iso2-refresh">
                        <div class="form-item form-type-select form-item-field-source-iso2">
                            <ion-item>
                                <ion-label color="tertiary">Sending Country</ion-label>
                            <ion-select 
                               class="corridor_search_source form-select" 
                               id="edit-field-source-iso2" 
                               name="field_source_iso2" >                                                
                                <ion-option 
                                *ngFor="let dummy of dummyData"
                                okText="Okay" cancelText="Dismiss"
                                (ionSelect)="onSelect(dummy)"                                                
                                >{{dummy.from}}
                                </ion-option>                                               
                            </ion-select>
                            </ion-item>
                        </div>
                        </div>    

                       <!--Receiving Country-->

                        <div id="field_destination_iso2-refresh">
                        <div class="form-item form-type-select form-item-field-destination-iso2 form-disabled">
                            <ion-item>
                                <ion-label color="tertiary">Receiving Country</ion-label>
                                <ion-select 
                                class="corridor_search_destination form-select"  
                                name="field_destination_iso2" id="destination"                                                            
                                >
                                    <ion-option *ngFor="let r of receiving[0]" (ionSelect)="onChoose(r)">{{r}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </div>
                        </div>

                        <div>
                            <button ion-button color="tertiary" block outline (click)="onClick(choice)">
                                <ion-icon name="eyes"></ion-icon>
                                Show
                            </button>
                        </div>
                </form>
            </div>
    </div>

    <ion-fab left bottom>
        <button ion-fab color="dark" (click)="onHelp()"><ion-icon name="help"></ion-icon></button>                        
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab color="tertiary"><ion-icon name="md-share"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab color="tertiary"><ion-icon name="logo-googleplus"></ion-icon></button>
            <button ion-fab color="tertiary"><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
            <button ion-fab color="tertiary"><ion-icon name="logo-vimeo"></ion-icon></button>
            <button ion-fab color="tertiary"><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>        
    </ion-fab>
</ion-content>
           

