<ion-header #head>    
<ion-navbar  color="tertiary" >
      <button ion-button menuToggle color="dark">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-buttons end>
        <button ion-button color="dark" [navPush]="settingsPage">
            <ion-icon name="md-more"></ion-icon>
        </button> 
    </ion-buttons>
      <ion-title>{{ 'TRANSFERRATES'|translate }}</ion-title>
  </ion-navbar>   
</ion-header>
            
<ion-content padding hide-header [header]="head">
    <div class="pane-content">
            <div id="corridor_search_refresh">

              <img src="assets/logo/smalogo.gif">
                
                <form 
                   class="sms-corridor-search-form" 
                   autocomplete="off"                                    
                   id="sms-corridor-search-form" 
                   accept-charset="UTF-8"> 

                    

                    
                  <ion-list radio-group>
                    <ion-row>
                        <ion-col>
                            <ion-item>

                                <ion-label color="tertiary"
                                           class="option" 
                                           for="edit-transfer-from">From:</ion-label>
                                <ion-radio id="edit-transfer-from" 
                                           name="transfer" 
                                           value="english"  
                                           checked
                                           class="form-radio"
                                           (click)="onFromTo()"></ion-radio>
                            </ion-item>   
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label color="tertiary"
                                           class="option" 
                                           for="edit-transfer-to">To:</ion-label>
                                <ion-radio id="edit-transfer-to" 
                                           name="transfer" 
                                           value="french" 
                                           class="form-radio"
                                           (click)="onToFrom()"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                   </ion-list> 

                    <hr>

                    <!--case from to-->
                      <div id="fromTo">
                        <!--Sending Country-->

                        <div id="field_source_iso2-refresh">
                        <div class="form-item form-type-select form-item-field-source-iso2">
                            <ion-item>
                                <ion-label style="font-size: 1.4rem" color="tertiary">{{ 'SENDINGCOUNTRY'|translate }}</ion-label>
                            <ion-select 
                               class="corridor_search_source form-select" 
                               id="edit-field-source-iso2" 
                               name="field_source_iso2"
                               style="font-size: 1.4rem" 
                               color="tertiary" >                                                
                                <ion-option 
                                *ngFor="let dummy of dummyData"
                                okText="Okay" cancelText="Dismiss"
                                (ionSelect)="onSelect(dummy)"                                                                             
                                >{{dummy.from}}
                                </ion-option>                                               
                            </ion-select>
                            </ion-item>
                        </div>
                        </div>    

                       <!--Receiving Country-->

                        <div id="field_destination_iso2-refresh">
                        <div class="form-item form-type-select form-item-field-destination-iso2 form-disabled">
                            <ion-item>
                                <ion-label style="font-size: 1.4rem" color="tertiary">{{ 'RECEIVINGCOUNTRY'|translate }}</ion-label>
                                <ion-select 
                                class="corridor_search_destination form-select"  
                                name="field_destination_iso2" id="destination"  
                                style="font-size: 1.4rem" 
                                color="tertiary"                                                           
                                >
                                    <ion-option *ngFor="let r of receiving[0]" (ionSelect)="onChoose(r)" [value]="r">{{r}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </div>
                        </div>

                        <div>
                            <button ion-button color="tertiary" block outline (click)="onClick(choice)" id="btn">
                                <ion-icon name="eyes"></ion-icon>
                                {{ 'SHOW'|translate }}
                            </button>
                        </div>
                       </div> 


                   

                    <!--case to from-->
                      <div id="toFrom" style="display: none;">  
                        <!--Receiving Country-->
                        <div id="field_destination_iso2-refresh">
                          <div class="form-item form-type-select form-item-field-destination-iso2 form-disabled">
                            <ion-item>
                              <ion-label style="font-size: 1.4rem" color="tertiary">{{ 'RECEIVINGCOUNTRY'|translate }}</ion-label>
                                <ion-select 
                                class="corridor_search_destination form-select"  
                                name="field_destination_iso2" id="destination"  
                                style="font-size: 1.4rem" 
                                color="tertiary">                                  
                                  <div *ngFor="let data of dummyData">                                  
                                    <ion-option 
                                      *ngFor="let datato of data.to" 
                                      (ionSelect)="onSelectTwo(datato)"
                                      (click)="onClickTwo($event)">
                                      {{datato.name}}
                                    </ion-option>                                 
                                  </div>
                                </ion-select>
                            </ion-item>
                          </div>
                        </div>

                        <!--Sending Country-->

                        <div id="field_source_iso2-refresh">
                        <div class="form-item form-type-select form-item-field-source-iso2">
                            <ion-item>
                                <ion-label style="font-size: 1.4rem" color="tertiary">{{ 'SENDINGCOUNTRY'|translate }}</ion-label>
                            <ion-select 
                               class="corridor_search_source form-select" 
                               id="edit-field-source-iso2" 
                               name="field_source_iso2"
                               style="font-size: 1.4rem" 
                               color="tertiary" >                                                
                                <ion-option *ngFor="let sending of sending">{{sending}}</ion-option>                                               
                            </ion-select>
                            </ion-item>
                        </div>
                        </div> 

                        <div>
                            <button ion-button color="tertiary" block outline (click)="onClickTwo(choiceTwo)" id="btnTwo">
                                <ion-icon name="eyes"></ion-icon>
                                {{ 'SHOW'|translate }}
                            </button>
                        </div>
                      </div> 
                </form>
            </div>
    </div>

    <ion-fab right bottom>
        <button ion-fab color="tertiary" (click)="regularShare()"><ion-icon name="md-share"></ion-icon></button>   
    </ion-fab>
</ion-content>
           

