page-transferrates {
ion-option-button.button.button-assertive {
  font-size:22px;
  background: transparent;
  color : #111;
}

ion-option-button.button.button-calm {
  font-size:22px;
  background: transparent;
  color : #111;
}
}



.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: base;
}
