<ion-header #head>
<ion-navbar  color="tertiary" hideBackButton="true">
      <button ion-button  color="dark" outline clear (click)="onBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
      <ion-buttons end>
        <button ion-button color="dark" [navPush]="settingsPage">
          <ion-icon name="md-more"></ion-icon>
        </button> 
      </ion-buttons>
      
    <ion-title style="font-size:1.3rem" >{{ 'CORRIDORS'|translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding hide-header [header]="head">
    <div>
    <ion-toolbar>
    <ion-segment color="tertiary" style="font-size:1.3rem">
      <ion-segment-button value="Methodology" [navPush]="methodologyPage">
        {{ 'METHODOLOGY'|translate }}
      </ion-segment-button>
      <ion-segment-button value="AboutSMA" [navPush]="aboutPage">
        {{ 'ABOUTUS'|translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
    </div>
    <div class="panel-panel grid-12">
        <div class="inside">
            <div class="" >
            <div class="pane-content">
                <div >
                    <ion-list text-center>
                        <ion-card *ngFor="let detailsGroup of transactions">
                                                      
                            <ion-label style="font-size:1.3rem" color="tertiary">{{ 'FROM'|translate }}: {{detailsGroup.from}}</ion-label>
                            <button 
                                    ion-item 
                                    *ngFor="let toGroup of detailsGroup.to"
                                    (click)="openRates(toGroup)">
                                    <ion-avatar item-start>
                                        <img [src]="toGroup.flag">
                                    </ion-avatar>
                                    <p style="font-size:1.3rem" color="secondary">{{ 'TO'|translate }}: {{toGroup.name}}</p>
                            </button> 
                                                      
                        </ion-card>
                    </ion-list>
            </div>
            </div>
        </div>
    </div>
    
    </div>
    

</ion-content>

